.header_container {
    position: absolute;
    top: 0;
    width: 100%;
    background-image: url("../../assets/dog-landing.png");
    background-size: cover;
    min-height: 700px;
    font-family: 'Rubik', sans-serif;
    line-height: auto;
    letter-spacing: 0%;
    color: #46403C;
    opacity: 1;
}

.header {
    width: 80%;
    display: flex;
    flex-direction: row;
    height: 100px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    font-size: 20px;
    text-transform: uppercase;
}

.header_actions {
    display: flex;
    margin-left: auto;
    gap: 20px; 
}


.header_action {
    position: relative;
    cursor: pointer;
    padding: 2px 4px;
}

.header_action::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #46403C;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.header_action:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.banner {
    width: 80%;
    display: flex;
    flex-direction: row;
    height: 100px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    font-size: 80px;
    text-transform: uppercase;
    color: #FFFFFF;
    height: 500px;
    font-weight: lighter;
}

.banner_text {
    width: 30%;
    text-align: left;
    opacity: 0.75;
}

.explore {
    margin-top: 80%;
    display: flex;
    position: relative;
    padding: 50px 220px;
}

.explore_item {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: initial;
}

.explore_heading {
    width: 450px;
    height: 150px;
    border-radius: 20px;
    padding: 20px 25px;
    color: #FFFFFF;
    font-family: 'Rubik', sans-serif;
    line-height: auto;
    letter-spacing: 0%;
    line-height: 25px;
    font-size: 16px;
}